.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
}

.error .link {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 6px 10px;
}