.one {
    color: #fff;
    font-size: 54px;
    margin: 44px 0 28px;
    background: linear-gradient(#727272 , #fff);
    background-clip: text;
    -webkit-background-filter:text ;
    -webkit-text-fill-color: transparent;
}

.two {
    background: linear-gradient( rgb(241, 254, 0), rgb(117, 131, 10));
    background-clip: text;
    -webkit-background-filter:text ;
    -webkit-text-fill-color: transparent;
    color: purple;
    margin-left: -28px;
}