.input {
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: 90%;
    padding: 5px 10px;
    font-size: 100;
    justify-content: center;
    display: flex;
}

.input::placeholder{
    color: black;
}