* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000 , #fff);
  width: 100vh;
  height: 100vh;

}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}