* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000 , #1E1E1E));
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}