.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px 0;
    align-items: center;
    justify-content: center;
}

.profilepicture {
    border-radius: 300px 300px 300px 300px;
    width: 15%;
    margin-top: 50px;
}

.home-container h1{
    margin-bottom: 14px;
    color: #fff;
    font-size: 44px;
    padding-top: 15px;
}

.home-container span{
    margin-bottom: 18px;
    color: #f1f1f1;

}

.links {
    max-width: 600px;
    width: 90%;
    text-align: center;
}

.link-area {
    background-color: #f1f1f1;
    width: 100%;
    margin-bottom: 18px;
    padding: 8px 0;
    user-select: none;
    border-radius: 4px;
    transition: all 0.5s;
}

.link-area:hover{
    transform: scale(1.01);
}

.link-text {
    color: #000;
    font-size: 18px;
    line-height: 150%;
}

