.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px 0;
    align-items: center;
    justify-content: center;
}

.profilepicture {
    width: 10%;
}

.home-container h1{
    margin-bottom: 14px;
    color: #fff;
    font-size: 44px;
    padding-top: 94px;
}

.home-container spam{
    margin-bottom: 18px;
    color: #f1f1f1;

}