.header-container {
    width: 100%;
    max-width: 720px;
    margin-top: 14px;
    padding: 0 14px;

}

.nav-header {
    width: 100%;
    background-color: #fff;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    gap: 35px;
    padding: 2px 5px;
}

.nav-header button {
    border: 0;
    background-color: transparent;
}

.nav-header a{
    text-decoration: none;
    color: #000;
    transition: all .2s;
}

.nav-header a:hover{
    color:#727272;
    
}