.admin-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
}