.admin-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}


.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    justify-content: center;
}

.label{
    color: #fff;
    font-weight: 100;
    margin: 14px 0 8px;
}

.container-colors{
    display: flex;
    gap: 15px;
    color: #fff;
    margin: 15px 0;
}