.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.forms {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.forms input {
    width: 80%;
}