.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.forms {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms input {
    width: 80%;
}