.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.forms {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms input {
    width: 90%;
}